
.manage-heading{
    background: linear-gradient(to right,#372c3a,#e14f80);
}

.manage{
    margin-top: 25px;
}
.search-bar{
    margin:50px 0px;
}
[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
    border-radius: 16px;
    height: 34px;
    padding: 15px;
}
.close-icon{
    float: right;
    cursor: pointer;
}


/* manage task */
.input-name{
padding:10px;
}

.completed-task{
 
    text-decoration: 3px line-through #d11010;
}

/* tr.completed-task td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
} */

.assignee-modal{
    width:300px;
    height:auto;
}